:root {
  --BlackColor: #000000;
  --BLueColor: #1e90ff;
  --WhiteColor: #fdfdfd;
  --GrayColor: #383838;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: var(--WhiteColor);
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
.bg-header {
  width: 100%;
  height: 100vh;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  /* -webkit-mask-image: linear-gradient(344deg, black 50%, transparent 100%); */
  /* mask-image: linear-gradient(180deg, black 50%, transparent 100%); */
}
.bg-poster {
  background-image: url("https://cdx.monstercat.com?encoding=webp&url=https%3A%2F%2Fwww.monstercat.com%2Frelease%2FMCLP017%2Fcover&width=1024");
  filter: blur(5px) brightness(38%);
  height: 102%;
  width: 102%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.header .content {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  position: relative;
  align-items: center;
}
.logo {
  width: 50px;
  height: 50px;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.list-icon {
  font-size: 18px;
  list-style: none;
  position: absolute;
  top: 100px;
  right: 0;
  padding: 0;
  width: 50px;
  text-align: center;
  pointer-events: initial;
  margin-right: 1.2rem;
  z-index: -1;
}

.list-icon li {
  display: block;
  margin: 1em 0.5em;
}
.list-icon li a {
  display: block;
  color: var(--WhiteColor);
}
.bar {
  cursor: pointer;
}
.bar a {
  color: var(--WhiteColor);
  font-size: 24px;
  pointer-events: none;
}
.navigation {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  bottom: 0;
  background-color: var(--BlackColor);
  z-index: 10;
  transform: translateX(100%);
  transition: all 0.25s linear;
}
.navigation.active {
  transform: translateX(0%);
}
.navigation .top {
  display: flex;
  justify-content: space-between;
  padding: 32px;
  align-items: center;
}
.navigation .top img {
  width: 200px;
}
.navigation .top .remove {
  font-size: 28px;
  color: var(--WhiteColor);
  font-weight: 800;
  cursor: pointer;
}
.navigation .scroller {
  overflow: auto;
  margin-right: 2rem;
  height: 350px;
}
.scroller-menu .has-menu {
  display: flex;
  gap: 0 10px;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 800;
}
.scroller-menu li {
  margin-bottom: 24px;
}
.scroller-menu .has-menu a {
  color: var(--WhiteColor);
  text-decoration: none;
  pointer-events: none;
}
.scroller-menu .has-menu ion-icon {
  color: var(--WhiteColor);
  pointer-events: none;
}
.sub-menu {
  margin: 0px 0px 0px 1rem;
  list-style: none;
  padding: 1rem 0px 0px;
  font-size: 14px;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: all 0.25s linear;
  display: none;
  font-size: 16px;
  font-weight: 800;
}
.sub-menu li {
  display: block;
  margin: 10px 0;
}
.sub-menu li a {
  text-decoration: none;
  color: var(--WhiteColor);
}
.sub-menu.active {
  height: auto;
  overflow: auto;
  visibility: visible;
  display: block;
}
.list-monster {
  display: flex;
  gap: 0 20px;
  margin-right: 2rem;
  padding: 2rem;
}
.double-btn {
  margin-right: 2rem;
  padding: 2rem;
}
.double-btn .btn {
  border: 0;
  outline: none;
  color: var(--WhiteColor);
  cursor: pointer;
  padding: 8px 20px;
  text-transform: uppercase;
  border-radius: 4px;
}
.btn:nth-child(1) {
  background-color: var(--BlackColor);
  border: 1px solid #fdfdfd;
}
.btn:nth-child(1):hover {
  background: #f1f1f1;
  color: black;
  border-color: #f1f1f1;
  transition: color 100ms linear, background-color 100ms linear;
}

.btn:nth-child(2) {
  background-color: transparent;
}

@media (max-width: 1024px) {
  .header .content {
    background-color: rgba(0, 0, 0, 7);
    display: flex;
  }
  .list-icon {
    position: unset;
    font-size: 18px;
    list-style: none;
    position: absolute;
    /* top: 100px; */
    /* right: 0; */
    padding: 0;
    /* width: 50px; */
    /* text-align: center; */
    /* pointer-events: initial; */
    /* margin-right: 1.2rem; */
    /* z-index: -1;
  }
}
